@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-display: "Ubuntu", "sans-serif";
}
h1 {
  margin: 30px !important;
}

h2 {
  margin: 30px !important;
}

#header-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile-img {
  width: 200px;
  height: auto;
}
.fontawesome {
  margin: 5px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  display: flex;
}

.fontawesome a,
a:visited {
  color: black;
}
.fontawesome :hover {
  transform: scale(1.15);
  transition: transform 0.15s;
}
